<!DOCTYPE html>
<html>
	<head>
		<title>page paramettres</title>
	</head>
	<body>
		<div id="stat-panel-accueil" class="stat-panel">
			<div class="user-information">
				<span id="companyName">Paramettre</span>
			</div>
			<div class="stat-container" id="ListPanel">
				<ul class="w3-ul w3-hoverable w3-margin" id="paramList">
					<li id="compte" class="paramListElement">Compte utilisateur</li>
					<li id="coordone" class="paramListElement">Coordonée Entreprise</li>
					<li id="moyenPayement" class="paramListElement">Moyen de payement</li>
					<li id="nomCommerciaux" class="paramListElement">Nom Commerciaux</li>
					<li id="facture" class="paramListElement">Facturation</li>
				</ul>
			</div>
			<div class="form_panel" id="FormPanel">
				
			</div>
		</div>
	</body>
</html>