<html>
<head>

		<script src="http://localhost:9999/MDS-WEB-RESSOURCE/js/board/company.js"></script>
		<script src="http://localhost:9999/MDS-WEB-RESSOURCE/js/board/notification_loader.js"></script>
</head>
<body>
			<div id="stat-panel-accueil" class="stat-panel">
				<div class="user-information">
					<span id="companyName">Conforama</span>
					<a id="companySettingsLink" class="company-settings-link">Modifier les coordonnées</a>
					<div id="companySettingsForm">
						
					</div>
				</div>
				<div id="stat-container" class="stat-container">
				</div>
			</div>
			<div id="notification-panel-accueil" class="notification-panel">
			</div>
</body>
</html>