<!DOCTYPE HTML>
<html lang="fr">
	<head>

		<meta charset="UTF-8"/>
		<meta name="csrf-token-value" th:content="${_csrf.token}">
		<meta name="csrf-token-name" th:content="${_csrf.headerName}">

		<title>Facturation - MDS</title>
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="http://localhost:9999/MDS-WEB-RESSOURCE/js/loader.js"></script>
		<script src="http://localhost:9999/MDS-WEB-RESSOURCE/js/main.js"></script>
		<script src="http://localhost:9999/MDS-WEB-RESSOURCE/js/chart.js"></script>
		<script src="http://localhost:9999/MDS-WEB-RESSOURCE/js/menus.js"></script>
		<script src="http://localhost:9999/MDS-WEB-RESSOURCE/js/grid.js"></script>
		<script src="http://localhost:9999/MDS-WEB-RESSOURCE/js/tab.js"></script>
		<script src="http://localhost:9999/MDS-WEB-RESSOURCE/js/notify.js"></script>
		<script src="http://localhost:9999/MDS-WEB-RESSOURCE/js/print.js"></script>
		<script src="http://localhost:9999/MDS-WEB-RESSOURCE/js/check.js"></script>
		<script src="http://localhost:9999/MDS-WEB-RESSOURCE/js/utils.js"></script>

		<link rel="stylesheet" type="text/css" href="http://localhost:9999/MDS-WEB-RESSOURCE/css/main.css"/>
		<link rel="stylesheet" type="text/css" href="http://localhost:9999/MDS-WEB-RESSOURCE/css/facturation.css"/>
		<link rel="stylesheet" type="text/css" href="http://localhost:9999/MDS-WEB-RESSOURCE/css/chart.css"/>
		<link rel="stylesheet" type="text/css" href="http://localhost:9999/MDS-WEB-RESSOURCE/css/grid.css"/>
		<link rel="stylesheet" type="text/css" href="http://localhost:9999/MDS-WEB-RESSOURCE/css/tab.css"/>
		<link rel="stylesheet" type="text/css" href="http://localhost:9999/MDS-WEB-RESSOURCE/css/notify.css"/>
		<link rel="stylesheet" type="text/css" href="http://localhost:9999/MDS-WEB-RESSOURCE/css/menus.css"/>
		<link rel="stylesheet" type="text/css" href="http://localhost:9999/MDS-WEB-RESSOURCE/css/dropdown.css"/>
		<link rel="stylesheet" type="text/css" href="http://localhost:9999/MDS-WEB-RESSOURCE/css/check.css"/>
		<link rel="stylesheet" type="text/css" href="http://localhost:9999/MDS-WEB-RESSOURCE/css/form.css"/>

		
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

	</head>
	
	<body>
		<div id="overlay" class="overlay">
			<div id="form-container" class="form-container">
			</div>
		</div>
		
		<div style="height: 100%;">
			<div id="header" class="header">
			</div>
			<div id="menu0" class="menu-V">
			</div>
			<div class="container">
				<div id="menu0-func0-panel" class="main-panel" style="display: block;">
				</div>
				<div id="menu0-func1-panel" class="main-panel" style="display: block;">
				</div>
				<div id="menu0-func2-panel" class="main-panel">
				</div>
				<div id="menu0-func3-panel" class="main-panel">
				</div>
				<div id="menu0-func4-panel" class="main-panel">
				</div>
			</div>
		</div>
	</body>
</html>